header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-bottom: 1px solid #eaeaea;
  background-color: #131313;
  height: 14vh;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

li {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}
