.app {
  text-align: center;
}

.calculator {
  width: 35rem;
  margin: 3rem auto;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-display {
  width: 100%;
  padding: 1rem;
  font-size: 3rem;
  text-align: right;
  background: #858693;
  border: 1px solid #ccc;
  color: #fff;
}

.calculator-buttons button {
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  border: 1px solid #ccc;
}

.btn0 {
  grid-column: 1/3;
}

#orange {
  background: #f5913e;
}
